* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover{
  color: rgb(61, 112, 9);
}
nav a:active {
  color: rgb(115, 187, 93);
  border-bottom: 2px solid rgb(8, 5, 4);
}

#home {
  height: 50vh;
  min-height: 400px;
  background-color: rgb(134, 238, 65);
}

#home,
#about,
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

#about img {
  max-height: 50%;
}

#about a {
  display: block;
  color:rgb(233, 55, 10) ;
}

#projects {
  background-color: rgb(172, 169, 156);
  min-height: 400px;
}

#project-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.project-item {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.technologies span {
  background-color: rgb(211, 16, 218);
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}

@media (min-width: 700px) {
  #project-list {
    flex-direction: row;
  }

  .project-item {
    width: 80%;
    border: #0f0d0d solid 1px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(185, 240, 240);
  }
}
